.page {
  margin: 0;
  padding: 28px 0 24px;
  box-sizing: border-box;
  background-color: #2A2C2F;
  font-family: 'Inter', 'Arial', sans-serif; /* поменять шрифты */
}

@media (max-width: 767px) {
  .page {
    padding: 16px 0 24px;
  }
}
